<!doctype html>
<html>
    <head>
        <title>{title}－網絡硬碟</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
        {scripts}
    </head>
    <body>
        <div class="page-header">
            <h1>網絡硬碟</h1>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="./">檔案</a></li>
                        <li><a href="./upload.php">上載</a></li>
                    </ul>
                </div>
                <div class="span9">
                    {content}
                </div>
            </div>
        </div>
    </body>
</html>